/*Limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em; /*!16px*/
	font-family: "Trebuchet MS", "Helvetica", sans-serif;
    font-weight:bold;
	background: #e6e6e6;
}
/*FORMATAÇÕES DO MENU*/
a{
	text-decoration: none;
}
 a:link, a:visited{
	 color: #f7b600;
}
	 a:hover{
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited{
	 color: #FFF;
	 padding: 3px 15px;

}
#area-cabecalho a:hover{
	color: #f7b600;
	background: #FFF;
	text-decoration: none;

}
#a-link{
	color: black;
	text-decoration: none;

}
/*LAYOUTS*/

#area-cabecalho{   /*usei ID então é #*/
	background: #f7b600;
	padding: 15px;
	text-align: center;
}
#area-acesso{
	text-align: right;
}
#area-logo, #area-menu{
	padding: 10px;
}
 #area-menu{
	font-size: 20px	;
 }

 #area-principal{
 	width: 920px;
 	margin: 0 auto;
 	padding: 15px;
 }

 #area-postagens{
 	width: 660px;
 	float: left;
 }

 #area-lateral{
 	width: 240px;
 	float: right;
 }

 .postagem{
 	padding: 20px;
 	margin-bottom: 20px;
 	background: white;
 }
.conteudo-lateral{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

 #area-rodape{
 	clear: both;
 	background: #CCC ;
 	text-align: center;
 	padding: 15px;
 }

 .postagem-lateral{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}

/*FORMATAÇÕES GERAIS*/
h1{
	color: #4e4e4e; 
	font-size: 4em;
}
h2{
	color: #f7b600;
}
h3{
	color: #565656;
	background: #CCC;
	padding: 5px;
}
.branco{
	color: white;
}
.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

